<template>
  <div class='button-component'>
      <button type='button' :class='btnClasses'>
            <slot></slot>
      </button>
  </div>
</template>

<script>
const COLOR_MAP = {
    'green': '-success',
    'red': '-danger'
}
const TYPE_MAP = {
    'primary': '',
    'secondary': '-outline'
}

const SIZE_MAP = {
    'large': '-lg',
    'small': '-sm'
}

export default {
props: {
    size: {
        default: 'large'
    },
    color : {
        default: 'green'
    },
    type : {
        default: 'primary'
    },
},
computed: {
    btnClasses() {
        return ['btn', `btn${TYPE_MAP[this.type]}${COLOR_MAP[this.color]}`, `btn${SIZE_MAP[this.size]}`]
    }
}
}
</script>

<style scoped>
.button-component {
    display: inline-block;
    margin: 0 1%;
}
</style>