<template>
  <div class='sheduleoptions-component'>
    <form class='content'>
       <div class='form-group'>
        <label for='selectType'>Wybierz typ studiów</label>
        <select class='form-control' id='selectType' v-model="form.selectedType">
          <option disabled value=''>Rozwiń i wybierz typ</option>
        </select>
      </div>

      <div class='form-group'>
        <label for='selectSem'>Wybierz semestr</label>
        <select class='form-control' id='selectSem' v-model="form.selectedSemester">
          <option disabled value=''>Rozwiń i wybierz semestr</option>
        </select>
      </div>

      <div class='form-group'>
        <label for='selectGr'>Wybierz grupę</label>
        <select class='form-control' id='selectGr' v-model="form.selectedGroup">
          <option disabled value=''>Rozwiń i wybierz grupę</option>
        </select>
        <div class='btns'>
          <BtnComp @click.native = 'save'>Zapisz</BtnComp>
          <BtnComp color='red' @click.native = 'cancel'>Zamknij</BtnComp>
        </div>
      </div>
    </form>
  </div>
   
</template>

<script>
import BtnComp from './ButtonComponent'
export default {
  data() {
    return {
      form : {
        selectedSemester: '',
        selectedGroup: '',
        selectedType: ''
      }
    }
  },
  components: {
    BtnComp
  },
  methods: {
    save() {
      this.$emit('save',this.form)
    },
    cancel() {
      this.$emit('cancel')
    }
  }
}
</script>

<style scoped>
    .sheduleoptions-component {
        width:700px;
        border-radius: 10px;
        position: absolute;
        background-color: #01579b;
        z-index: 2;
    }

    .content {
      margin-top: 25px;
      padding: 0 5%;
    }

    .btns {
      margin: 50px 0 25px 0;

    }
</style>