<template>
  <div id="app">
    <ScheduleOptions @cancel='closeOptionWindow' v-if='showOptionsWindow' class='options-window'/>
    <FullCalendar :options="calendarOptions"/>
  </div>
</template>

<script>
import ScheduleOptions from './components/SheduleOptions'
import FullCalendar from '@fullcalendar/vue'
import timeGridPlugin from '@fullcalendar/timegrid'
import bootstrapPlugin from '@fullcalendar/bootstrap'
import plLocale from '@fullcalendar/core/locales/pl'

export default {
  name: 'App',
  data() {
    return {
      showOptionsWindow: true,

      calendarOptions: {
        locale: plLocale,
        customButtons: {
          Settings: {
            text: 'Ustawienia',
            click: () => this.showOptionsWindow = true
          }
        },
        headerToolbar: {
          left: 'title',
          center: '',
          right: 'today,prev,next Settings'
        },
        height: '100%',
        plugins: [timeGridPlugin,bootstrapPlugin],
        initialView: 'timeGridWeek',
        themeSystem: 'bootstrap',
        allDaySlot: false,
        weekends: false,
        hiddenDays: [5],
        slotDuration: '00:20:00',
        slotMinTime:'6:00:00',
        slotMaxTime:'20:30:00',   
        events: [
          { title: 'event 1', start: '2020-11-12T15:10:00.000Z',end: '2020-11-12T17:10:00.000Z'},
        ]
      }   
    }
  },
  components: {
    FullCalendar,
    ScheduleOptions
  },
  methods : {
    closeOptionWindow() {
        this.showOptionsWindow = false
    }
  }
}
</script>

<style>
  @import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);
  @import url(https://bootswatch.com/4/darkly/bootstrap.css);

  #app {
    height: 100vh;
  }

  .options-window {
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
</style>
